{% extends "store/base.html" %}
{% load static %}

{% block content %}

<div style="padding-top:5vh" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <center>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img id="img-carousel" src="{% static 'banners/banner.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img id="img-carousel" src="{% static 'banners/banner2.png' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img id="img-carousel" src="{% static 'banners/banner3.png' %}" class="d-block w-100" alt="...">
      </div>
    </div>
  </center>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="row" style="text-align:center">
    {% for product in last_products %}
    
    <div class="col-sm" style="padding-top:10vh">
    <a style="text-decoration:none;color:rgba(0, 0, 0, 0.9)" href="/product/{{product.id}}">

        <img height="200" width="200" src="{{ product.frame_html_base64 }}"></br>
        <b style="font-size:30px">{{ product.name }}</b></br>
        <b>B$ {{ product.price }}</b></br>
        {% if product.supply == 0 %}
        <div style="width:100%;padding-top:10px" class="alert alert-warning">
        <b>sem estoque :(</b>
        </div>  
        {% endif %}
    </a>

    </div>
    {% endfor %}
</div>
{% endblock %}
